body{

font-family:Arial;
background:#f5f5f5;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.gracias-container{

background:white;
padding:40px;
border-radius:10px;
text-align:center;

}

.boton-volver{

display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#3665f3;
color:white;
text-decoration:none;
border-radius:6px;

}

.boton-volver:hover{

background:#274bdb;

}